{% comment %} This is a base template of our website whcich will remains same on every page. {% endcomment %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Connect Sphere</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" />
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/footer.css' %}"> 
    
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    
    <title>{% block title %}Base{% endblock %}</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav>
            <div class="nav-bar">
                <i class='bx bx-menu sidebarOpen'></i>
                <span class="logo navLogo"><a href="/posts/List_Post/">Connect Sphere</a></span>
    
                <div class="menu">
                    <div class="logo-toggle">
                        <span class="logo"><a href="#">Connect Sphere</a></span>
                        <i class='bx bx-x siderbarClose'></i>
                    </div>
    
                    <ul class="nav-links">
                        <li><a href="/posts/List_profile/">Users</a></li>
                        <li><a href="/posts/UserProfile/">Profile</a></li>
                        <li><a href="/logout/">Logout</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
    
                <div class="darkLight-searchBox">
                    <div class="dark-light">
                        <i class='bx bx-moon moon'></i>
                        <i class='bx bx-sun sun'></i>
                    </div>
    
                    <div class="searchBox">
                       <div class="searchToggle">
                        <i class='bx bx-x cancel'></i>
                        <i class='bx bx-search search'></i>
                       </div>
    
                        <div class="search-field">
                            <input type="text" placeholder="Search...">
                            <i class='bx bx-search'></i>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
        
        
    
    <main>
        {% block content %}{% endblock %}
    </main>
    {% comment %} Footer of Connect Sphere  {% endcomment %}
    <footer style="background-color: #27221e; color: white;">
        <p>&copy; {2024} {Connect Sphere}. All rights reserved by Qasim and Najeeb Co.
    </footer>
    {% comment %} linking javascript file  {% endcomment %}

    {% if user.is_authenticated %}
    <form action="{% url "logout" %}">
        {% csrf_token %}
        <a href="{% url "logout" %}" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
        
        
    </form>

    {% endif %}

    <script src="{% static 'javascript/script.js' %}"></script>

</body>
</html>
