{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    {% comment %} <title>{{ post.title }}</title> {% endcomment %}
</head>
<body>

    {% comment %} <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p> {% endcomment %}

    <h2>Comments</h2>
    {% comment %} {% for comment in post.comments.all %}
        <div>
            <p>{{ comment.content }}</p>
            <p>By: {{ comment.user.username }}</p>
            <p>Created at: {{ comment.created_at }}</p>

            {% if comment.active %}
                <p>This comment is active</p>
            {% else %}
                <p>This comment is inactive</p>
            {% endif %} {% endcomment %}

            {% comment %} {% if comment.replies.all %} {% endcomment %}
                <h3>Replies</h3>
                {% for reply in reply_cmnts %}
                    <div>
                        <p>By: {{ reply.replier_name }}</p>
                        <p>{{ reply.reply_content }}</p>
                        
                    </div>
                {% endfor %}
            {% comment %} {% endif %} {% endcomment %}

        </div>
    {% comment %} {% endfor %} {% endcomment %}
    {% endblock content %}
</body>
</html>
