{% extends "base.html" %}
{% load static%} 
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/postlist.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
</head>
<body>
    



<div class="container">
    <div class="row">
        
        <div class="col-md-8 mt-3 left">
            {% for object in object_list  %}
            
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-sm-8">
                                <div class="panel panel-white post">
                                    <div class="post-heading">
                                        <div class="pull-left image">
                                            <div class="profile-image-wrapper">
                                               
                                                <img src="{{ post_profiles.object.profile_pic.url }}" class="img-circle avatar" alt="user profile image">
                                                
                                            </div>
                                        </div>
                                        <div class="pull-left meta">
                                            <div class="title h5">
                                                {{object.shared_user }}
                                            </div>
                                            <h6 class="text-muted time">{{object.created_on}}</h6>
                                        </div>
                                    </div>
                                    <div class="post-description">
                                    <h4>{{object.title}}</h4>
                                    <p>{{object.content }}</p>
                                    <div class="post-image">
                                        <img src="/media/{{ object.image }}" class="image" alt="image post" style="width: 450px; height: 450px">
                                    </div>
                                        
                                        
                                    </div>
                                    <div class="post-footer">
                                        <p>
                                            <a href="{% url 'posts:post_detail' object.id %}" class="btn btn-dark">like comments &rarr;</a>
                                            <a href="/posts/sharePost/{{object.id}}" class="btn btn-secondary">Share</a>
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div class="new-post-box">
                <a href="/posts/Creat_Post/" class="new-post-link">Create New Post</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}
