{% extends "base.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
        background-image: url('https://static.vecteezy.com/system/resources/previews/014/302/734/non_2x/luxury-abstract-banner-template-with-gold-blended-waves-on-black-background-with-copy-space-for-text-shiny-dynamic-light-stripes-futuristic-twisted-lines-design-in-dark-background-wallpaper-website-vector.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for object in object_list  %}
            <div class="card mb-4">
                <div class="card-body bg-dark">
                    <h2 class="card-title text-light">{{object.title}}</h2>
                    <p class="card-text text-light h6">{{object.shared_user }} | {{object.created_on}} </p>
                    <p class="card-text text-light">{{object.content |slice:":100"}}</p>
                    <a href="{% url 'posts:post_detail' object.id %}" class="btn btn-dark">Read More &rarr;</a>
                    <a href="/posts/sharePost/{{object.id}}" class="btn btn-secondary">Share</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div class="new-post-box">
                <a href="/posts/Creat_Post/" class="new-post-link">Create New Post</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
