{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/formstyling.css' %}">
    <title>Profile Creation Form</title>
</head>
<body>
    
    <form method="POST" action = "{% url 'profile' %}" style = "margin-top: 70px; margin-bottom: 70px; padding: 15px;">
        
        {% csrf_token %}

        {{ form.as_p }}
        <button type="submit" value="submit">Upload</button>
    </form>

</body>
</html>
{% endblock %}
